body{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: yellow;
}
div{
    width: 300px;
}
.typing-effect-animation{
    position: relative;
    top: 50%;
    text-align: center;
    width: 11.5em;
    margin: 0 auto;
    border-right: 2px solid rgba(0, 225, 11, 0.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    animation: css-typing-effect 4s steps(40) 1s 3 normal both,
               cursorblink 500ms steps(40) infinite normal;
    transform: translateY(-50%);
}

/* Animation */
@keyframes css-typing-effect {
    from {
        width: 0;
    }
    to {
        width: 11.5em;
    }
}
@keyframes cursorblink {
   from {
       border-right-color: rgba(0, 225, 11, 0.75);
   } 
   to {
       border-right-color: transparent;
   }
}